<template>
  <div class="home-view-container">
    <h1 class="title">Welcome to the Pokemon Tournament!</h1>
    <b-container>
      <router-link :to="{ name: 'teamCreate'}"><b-button variant="success">Create your first Team!</b-button></router-link>
    </b-container>
    <b-container>
      <img class="center-image" src="../assets/img/pokeball.gif"/>
    </b-container>
  </div>
</template>
<style>
  .center-image{
    width: 30%;
  }
  .title{
    color: #FFDE00;
    text-shadow: 2px 2px 0 #3B4CCA, 2px -2px 0 #3B4CCA, -2px 2px 0 #3B4CCA, -2px -2px 0 #3B4CCA, 2px 0px 0 #3B4CCA, 0px 2px 0 #3B4CCA, -2px 0px 0 #3B4CCA, 0px -2px 0 #3B4CCA, 0px 0px 10px rgba(59,76,202,0);
  }


</style>
<script>
import { mapActions, mapGetters } from 'vuex'
import axios from "axios";

export default {
  name: 'home',
  data() {
    return {}
  },
  methods: {
    ...mapActions([
      'updateTeams',
      'setStatusUpdateTeam'
    ])
  },
  mounted() {
    console.log("VUE_APP_API_URL")
    console.log(process.env.VUE_APP_API_URL)
    axios.get(`http://${process.env.VUE_APP_API_URL}/team/list`)
      .then(data=>{
        console.log("Got data, calling update action...")
        this.updateTeams(data)
        this.setStatusUpdateTeam(false)
      })

  }
}
</script>
