<template>
  <div>
    <b-form @submit.prevent="handleSubmit">
      <b-form-group id="inputGroup" label="Team's Name:" label-for="teamName">
        <b-form-input
          id="teamName"
          type="text"
          v-model="formData.name"
          required
          placeholder="Enter name" />
      </b-form-group>

      <b-button v-if="!changeSuccess" type="submit" variant="info">Change Team Name!</b-button>
      <router-link :to="{ name: 'team', params: { id: this.$route.params.id }}"><b-button v-if="changeSuccess" variant="success">Changed! Go to the Team Page...</b-button></router-link>

    </b-form>
  </div>
</template>

<script>
  import {mapActions, mapState} from 'vuex'

  export default {
    name: 'teamCreate',
    data() {
      return {
        formData: {
          name: '',
        },
        team:{},
        changeSuccess: false
      }
    },
    computed: {
      ...mapState([
        'teams'
      ])
    },
    mounted() {
      const team = this['teams'].filter(singleTeam=>{
        return singleTeam.id == this.$route.params.id
      })
      this.team = team[0]
      this.formData.name = this.team.name
    },
    methods: {
      ...mapActions([
        'changeTeamName'
      ]),


      async handleSubmit() {
        const { name } = this.formData
        const teamId = this.team.id
        const payload = {
          teamId,
          name
        }
        let changedName = await this.changeTeamName(payload)
        this.changeSuccess = true
      }
    }
  }
</script>
