<template>
  <div>
    <h1 class="title">Create a new Team to enter the Tournament!</h1>
    <b-form @submit.prevent="handleSubmit">
      <b-form-group id="inputGroup" label="Team's Name:" label-for="teamName">
        <b-form-input
          id="teamName"
          type="text"
          v-model="formData.name"
          required
          placeholder="Enter name" />
      </b-form-group>

      <b-button type="submit" variant="success">Create Team!</b-button>
    </b-form>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex'
  import axios from "axios";

  export default {
    name: 'teamCreate',
    data() {
      return {
        formData: {
          name: '',
        }
      }
    },
    computed: {
      ...mapState([
        'teams'
      ])
    },
    mounted(){
      console.log("Mounted!")
    },
    methods: {
      ...mapActions([
        'addTeam',
        'updateTeams',
        'setStatusUpdateTeam'
      ]),

      async handleSubmit() {
        const { name } = this.formData
        const payload = {
          name
        }
        let data = await this.addTeam(payload)
        console.log(data)
        axios.get(`http://${process.env.VUE_APP_API_URL}/team/list?fresh=true`)
          .then(data=>{
            console.log("Got data, calling update action...")
            this.updateTeams(data)
            this.setStatusUpdateTeam(true)
            // this.$router.push(`/team/${ this.teams[this.teams.length-1].id}/edit`)
            this.$router.push({
              name: 'team',
              params: { id: this.teams[this.teams.length-1].id}
            })
          })
        // reset form after submit
        this.formData = {
          name: '',
        }
      }
    }
  }
</script>
