<template>
  <div>
    <b-container v-if="!teams.length">
      <h3>Wow! Nobody has joined the Tournament yet...</h3>
      <router-link :to="{ name: 'teamCreate'}"><b-button variant="success">Create your first Team!</b-button></router-link>
    </b-container>
    <PokemonsTeam
      v-if="teams.length"
      v-for="team in teams" :key="team.index"
      :pokemonTeam="team"
    />
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex'
  import PokemonsTeam from '@/components/PokemonsTeam'
  import axios from "axios";

export default {
  components: {
    PokemonsTeam,
  },

  computed: {
    ...mapState([
      'teams',
      'teamsUpdated'
    ]),
    ...mapGetters([
      'getAllTeams'
    ])
  },
  methods: {
    ...mapActions([
      'updateTeams',
      'setStatusUpdateTeam'
    ])
  },
  mounted(){
    //Run only the first time
    if(this.teamsUpdated){
      axios.get(`http://${process.env.VUE_APP_API_URL}/team/list`)
        .then(data=>{
          console.log("Got data, calling update action...")
          this.updateTeams(data)
          this.setStatusUpdateTeam(false)
        })
    }

  }
}
</script>
