<template>
  <div>
    <h1>Team {{ team.name }}</h1>
    <b-button @click="catchPokemon" variant="success">Gotta Catch 'Em All</b-button>
    <div>
      <b-row>
        <b-col v-for="pokemon in team.pokemons" :key="team.pokemons.index" md="4">
          <SinglePokemon
            :pokemon="pokemon"
          />
        </b-col>
      </b-row>
    </div>
    <b-modal v-model="modalShow" title="Wow! You just catched...">
      <SinglePokemon
        :pokemon="lastPoke"
      />
    </b-modal>
  </div>


</template>

<style scoped>


</style>
<script>
  import {mapActions, mapGetters, mapState} from 'vuex'
  import SinglePokemon from "@/components/SinglePokemon";
  import axios from "axios";

export default {
  components: {SinglePokemon},
  data() {
    return {
      team: {},
      modalShow: false,
      lastPoke: {}
    }
  },
  computed: {
    ...mapState([
      'teams'
    ]),
    getAllTeams () {
      return this.$store.getters.getAllTeams
    },
    getSingleTeam () {
      return this.$store.getters.getSingleTeam(this.$route.params.id)
    }
  },
  watch:{
    'team.pokemons': function (newVal, oldVal){
      console.log("team pokemons changed")
    },
  },
  mounted() {
    const team = this['teams'].filter(singleTeam=>{
      return singleTeam.id == this.$route.params.id
    })
    this.team = team[0]
  },
  methods: {
    ...mapActions([
      'addPokemon',
      'updateTeams',
      'setStatusUpdateTeam'
    ]),
    catchPokemon() {
      const teamId = this.$route.params.id
      const payload = {
        id:teamId
      }
      const poke = this.addPokemon(payload)

      this.setStatusUpdateTeam(true)
      poke.then(pokemon =>{
        const team = this['teams'].filter(singleTeam=>{
          return singleTeam.id == this.$route.params.id
        })
        this.team = team[0]
        this.lastPoke = this.team.pokemons[0]
        this.modalShow = true;
        // this.team.pokemons.push(pokemon.pokemon)
      })



    }
  }
}
</script>
