<template>
  <div class="pokemon-container">
    <b-row>
      <b-col>
      <router-link :to="{ name: 'team', params: { id: pokemonTeam.id }}"><h3>{{pokemonTeam.name.replace(/^\w/, c => c.toUpperCase())}}</h3></router-link>
        <router-link :to="{ name: 'teamEdit', params: { id: pokemonTeam.id }}"><span>edit</span></router-link>
      </b-col>
    </b-row>
    <b-row>
      <b-col>Sum of Base Experience: {{pokemonTeam.pokemons.reduce((total, pokemon) => pokemon.base_experience + total,0)}}</b-col>
    </b-row>
    <b-row>
      <b-col>Types:</b-col>
      <b-col v-for="type in this.pokemonTypes()" :key="pokemonTeam.pokemons.index"><b-badge @click="filterByType(type,$event)">{{type}}</b-badge></b-col>
    </b-row>
    <b-row v-if="filterActive">
      <b-col>
        <b-button @click="clearFilter" class="clear-filter" variant="danger">Clear Filter</b-button>
      </b-col>
    </b-row>
    <b-container>
    <b-row>

      <b-col class="pokemon-box-small" v-for="pokemon in pokemonTeam.pokemons.filter(this.selectedFilter)" :key="pokemonTeam.pokemons.index">
<!--        <img v-b-tooltip :title="pokemon.name.replace(/^\w/, c => c.toUpperCase())" class="pokemon-sprite-small" :src="pokemon.sprite"/>-->
        <transition>
          <img v-show="isLoad" v-b-tooltip :title="pokemon.name.replace(/^\w/, c => c.toUpperCase())" class="pokemon-sprite-small" :src="pokemon.sprite" @load="loaded">
        </transition>
        <img v-show="!isLoad" class="sprite" src="../assets/img/pokeball.gif">
      </b-col>

    </b-row>
    </b-container>
  </div>
</template>


<style>
  .sprite{
    width: 100px;
    height: 100px;
  }
  .pokemon-box-small{
    border: solid 1px black;
  }
  .pokemon-container{
    border: 1px solid forestgreen;
    margin: 20px 0;
  }

  .pokemon-sprite-small{
    width: 48px;
    height: 48px;
  }
  .clear-filter{
    width:100px;
    padding:5px 5px;
    margin: 5px 0;
  }
  .badge:hover{
    cursor: pointer;
  }
  .type-selected{
    background-color: lightgreen;
  }
</style>
<script>
  export default {
    props: {
      pokemonTeam: Object,
    },
    data() {
      return {
        selectedFilter: (pokemon)=>pokemon,
        defaultFilter: (pokemon)=>pokemon,
        filterActive: false,
        isLoad: false

      }
    },
    methods: {
      pokemonTypes() {
        const typesList = []
        this.pokemonTeam.pokemons.forEach(pokemon => {
          pokemon.types.forEach(singleType => {
            if (!typesList.includes(singleType.type.name)){
              typesList.push(singleType.type.name)
            }
          })
        })
        return typesList
      },
      clearFilter(){
        this.selectedFilter = this.defaultFilter
        this.filterActive = false
      },
      filterByType(selectedType,event){
        event.target.addClass = "type-selected"
        this.filterActive = true
        this.selectedFilter = (pokemon)=>{
          let pokeTypes = []
          pokemon.types.forEach(singleType => {
            pokeTypes.push(singleType.type.name)
          })
          if(pokeTypes.includes(selectedType)){
            return pokemon
          }
        }
      },
      loaded() {
        this.isLoad = true
      }
    },
    mounted(){
      // console.log(this.pokemonTeam)
      // this.pokemonTeam.pokemons = this.pokemonTeam.members
      // console.log(this.pokemonTeam)
      this.pokemonTypes()
    }
  }
</script>
