<template>
  <div class="pokemon-container">
      <b-container fluid >
        <div>{{pokemon.name.replace(/^\w/, c => c.toUpperCase())}}</div>
        <transition>
          <img v-show="isLoad" class="sprite" :src="pokemon.sprite" @load="loaded">
        </transition>
        <img v-show="!isLoad" class="sprite" src="../assets/img/pokeball.gif">
        <b-row>
          <b-col>Base Exp: {{pokemon.base_experience}}</b-col>
        </b-row>
        <b-row fluid>
          <b-col class="pokemon-type" v-for="singleType in pokemon.types" :key="pokemon.types.index"><span class="type">{{singleType.type.name}}</span></b-col>
        </b-row>
        <b-row fluid>
          <b-col class="pokemon-type" v-for="singleAbility in pokemon.abilities" :key="pokemon.abilities.index"><span class="type">{{singleAbility.ability.name}}</span></b-col>
        </b-row>
      </b-container>
  </div>
</template>


<style>
  .sprite{
    width: 100px;
    height: 100px;
  }
  .pokemon-type{
    border: solid 1px black;
  }
  .pokemon-container{
    border: 1px solid forestgreen;
    margin: 20px 0;
  }
  .type{
    font-size: 12px;
  }
</style>
<script>
  export default {
    props: {
      pokemon: Object,
    },
    data (){
      return {
        isLoad: false,
      }
    },
    methods: {
      loaded() {
        this.isLoad = true;


      }
    },
  }
</script>
